.about {
    padding: 85px 24px 40px 24px;
}

.about__title {
    color: var(--headings-dark-color);
    font-size: 38px;
    font-weight: 800;
    line-height: 46px;
    text-align: left;
}

.divider {
    background-color: var(--divider-color);
    height: 2px;
    width: 45px;
    position: absolute;
    left: 15;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin: 10px 0;
}

.about__description {
    margin-top: 20px;
    display: block;
    font-family: var(--main-text-font);
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--headings-dark-color);
    line-height: 1.6rem;
}

.about__link {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 15px;
    height: 47px;
    width: 180px;
    font-family: var(--button-text-font);
    font-size: 0.9rem;
    font-weight: 700;
    font-stretch: 100%;
    color: var(--white-background);
    background-color: var(--red-accent-color);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.about__link:hover {
    background-color: var(--dark-gray-color);
    color: var(--white-background);
    transition: 1s;
}

.about__link:active {
    background-color: var(--dark-gray-color);
    color: var(--white-background);
    transition: 1s;
}

.about-photo {
    padding-top: 30px;
    padding-bottom: 10px;
    height: 20%;
    object-fit: cover;
    position: relative;
    filter: contrast(1.4);
}

@media (min-width: 768px) {
    .about {
        display: grid;
        grid-template-columns: 40% 55%;
        grid-template-areas:
            "info photo";
        grid-column-gap: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .about__info {
        grid-area: info;
    }

    .about__info--photo {
        grid-area: photo;
        justify-self: center;
        align-self: center;
    }

    .about__description {
        font-size: 0.95rem;
        margin-top: 40px;
    }

    .about-photo {
        padding-right: 20px;
    }

    .about__title {
        font-size: 2.8rem;
    }
}