.conductor {
    padding: 85px 24px 40px 24px;
}

.conductor__container--right {
    display: none;
}

.conductor__title {
    color: var(--headings-dark-color);
    font-size: 38px;
    font-weight: 800;
    line-height: 46px;
    text-align: left;
}

.conductor__title--span {
    font-size: 26px;
}

.divider {
    background-color: var(--divider-color);
    height: 2px;
    width: 45px;
    position: absolute;
    left: 15;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin: 10px 0;
}

.conductor__photo {
    margin: 50px auto;
}

.conductor__img {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    max-width: 70vw;
}

.conductor__description {
    margin-top: 20px;
    display: block;
    font-family: var(--main-text-font);
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--headings-dark-color);
    line-height: 1.6rem;
    text-align: left;
    overflow-wrap: break-word;
}

@media (min-width: 768px) {
    .conductor {
        padding: 85px 10px 40px 40px;
    }

    .conductor__info {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .conductor__info--text {
        max-width: 50%;
    }

    .conductor__photo {
        max-width: 35vw;
    }

    .conductor__title {
        font-size: 44px;
        line-height: 56px;
        max-width: 50%;
    }

    .conductor__title--span {
        font-size: 32px;
    }
}

@media (min-width: 1200px) {
    .conductor__container--large {
        display: flex;
        flex-direction: row;
    }

    .conductor__container--left {
        max-width: 60%;
    }

    .conductor__container--right {
        display: flex;
    }

    .conductor__container--img {
        object-fit: cover;
    }

    .conductor__info {
        display: block;
    }

    .conductor__info--text {
        max-width: 90%;
    }

    .conductor__photo {
        display: none;
    }

    .conductor__title {
        font-size: 50px;
        line-height: 60px;
        max-width: 100%;
    }

    .conductor__title--span {
        font-size: 32px;
    }
}