.partners {
    background-color: var(--light-gray-color);
    padding: 85px 10px 40px 10px;
}

.partners__title {
    color: var(--headings-dark-color);
    font-size: 38px;
    font-weight: 800;
    line-height: 46px;
    text-align: center;
    margin-bottom: 10px;
}

.partners__divider {
    background-color: var(--divider-color);
    height: 2px;
    width: 45px;
    position: absolute;
    z-index: 2;
    left: 42.5vw;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

@media (min-width: 480px) {
    .partners__divider {
        left: 46vw;
    }
}

@media (min-width: 768px) {
    .partners__divider {
        left: 47vw;
    }
}

@media (min-width: 1200px) {
    .partners__divider {
        left: 48.3vw;
    }
}

.partners-slider {
    position: relative;
    margin: auto;
    min-width: 300px;
    padding: 30px 5px;
    background-color: var(--light-gray-color);
    font-size: 17px;
    line-height: 1.5;
}

.partners-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.partners-carousel {
    position: relative;
    width: 100%;
    margin: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.partners__carousel-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 100px;
    padding: 0;
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(15px);
}

.partners__carousel-item img {
    max-height: 55px;
    object-fit: contain;
}

.carousel-control {
    position: absolute;
    top: 15px;
    width: 20px;
    height: 40px;
    font-size: 36px;
    z-index: 2;
    color: var(dark-gray-color);
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 20px;
}

.carousel-control:hover {
    color: var(--headings-dark-color);
    cursor: pointer;
}

@media (min-width: 480px) {
    .partners-container {
        justify-content: space-between;
    }

    .partners-carousel {
        justify-content: space-between;
    }

    .partners__carousel-item img {
        max-height: 80px;
    }

    .carousel-control {
        width: 30px;
        height: 50px;
        font-size: 50px;
    }

}